/**/
.add-blog {
    padding: 50px;
    padding-top: 10px;
}
.blog-title {
    text-align: center;
}
.blog-content {
    text-align: justify;
    padding: 5px;
    margin: 20px 50px;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  