{{> header}}
    <div>
        <a href="/">Trở lại</a>
    </div>
    <div id="content">
        <h2 class="blog-title">{{data.title}}</h2>
        <p class="blog-content">{{data.content}}</p>
    </div>
{{> footer}}