{{> header}}
    <div>
        <a href="/">Trở lại</a>
    </div>
    <div>
        <form method="POST">
            Bạn muốn xóa bài blog: <strong>{{data.title}}</strong> ?
            <button type="submit" class="btn btn-primary">Xóa</button>
        </form>
    </div>
{{> footer}}